
body{
  font-family: Arial, sans-seriff;
  background: linear-gradiient(145deg, #432371, #f5a36c);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.container{
  text-align: center;
  padding: 70px;
  
 
  background-color: rgb(82, 97, 105);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
 


}

.timer{
  background-color: rgba(250, 250, 250, 0.15);
  padding: 30px;
  margin: 0 29px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
 
}

#date{
  font-size: 15px;
  color: #fff;
}

h1{
  font-size:48px;
  margin-bottom: 40px;
  letter-spacing: 1.5px;
  color: #fff;
  height: 40px;
  margin-top: -20px;
  
  
  text-shadow:   0 0 30px #fff, 0 0 40px #fff, 0 0 50px;
  
}

#countdown{
  font-weight: 700;
  font-size: 25px;
}

#day {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 30px;
  margin: 0 29px;
  color: black;
  
}

#time {

  font-size: 15px;
  font-weight: 300;
  color:  #fff;
  text-shadow: 0 0 10px #fff, 0 0 25px #00f;

}
main {
 font-size: 25px;
 height: 4rem;
 margin-top: -12px;
 color: Black;
 text-shadow: 0 0 25px rgb(black, 0 0 50px black;
}


#countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
  padding: 40px 30px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  font-size: 2rem;
  color: #00f;
  text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f, 0 0 50px;
}




.inquiry {
  margin-top: 4rem;
  

  color: #fff;
  
}